/* NetPen Dark Theme Version */

body {
	background: #202C38;
	color: #aec0d0;
}

a {
	color: #3399ff !imoprtant;
}

a:hover {
	color: #aec0d0 !important;
}

a.button span {
    color: #fff;
}

#container {
	color: #aec0d0;
}

#content {
    background: transparent;
    width: 100%;
    margin: auto auto;
    padding: 20px 0;
}

#logo {
    background: #3399ff;
}

#logo-responsive {
    background: #3399ff !important;
}

.wrapper-head {
    border-top: 2px solid #3399ff;
    border-bottom: 2px solid #6c8cac;
}

.menu ul li a {
	color: #fff !important;
}

.menu ul li a:hover {
    color: #537393 !important;
}

.usermenu a {
    color: #fff !important;
}

.usermenu a:hover {
    color: #537393 !important;
}

.dropdown-content a:hover {
    color: #fff !important;
}

a.fname {
    color: #4da6ff;
}

.pagination a {
    background: #2e4052;
    border: 1px solid #374d62;
	color: #aec0d0;
}

.trow1 {
    background: #2e4052;
	padding: 3px 0px 0px 5px;
    border-bottom: 1px solid #374d62;
    border-right: 1px solid #374d62;
}

.status {
    background: #253341 !important;
}

.trow2 {
    background: #253441;
    padding: 3px 0px 0px 5px;
    border-bottom: 1px solid #374d62;
    border-right: 1px solid #374d62;
}

.trow3 {
    color: #aec0d0;
    padding: 5px 5px 10px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #253341;
    text-shadow: none;
}

.trowstat {
    background: #253341;
    border-bottom: 0px solid #374d62;
    border-right: 0px solid #374d62;
    border-left: 1px solid #374d62;
    color: #aec0d0;
}

.trowstat:hover {
    background: #405972;
    color: #aec0d0;
    border-left: 1px solid #374d62;
}

.tborder {
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
}

.thead {
    background: #253341;
    border-top: 3px solid #3399ff;
    border-bottom: 1px solid #202C38;
}

.thead a {
    color: #aec0d0;
}

.thead a:hover{
	color: #253341;
}

a.tsubject {
    color: #e6e6e6 !important;
}

.tcat {
    border-top: 0px solid #202C38;
    border-bottom: 1px solid #202C38;
}

.tfoot {
    border-top: 1px solid #3399ff;
    background: #253441;
}

.tfoot span.smalltext a {
    font-size: 12px;
}

fieldset {
    border: 0px solid #bfa6a9;
    background: #2e4052;
}

fieldset span.smalltext a {
    color: #3399ff !important;
}

fieldset span.smalltext a:hover {
    color: #aec0d0 !important;
}

input.textbox {
    border: 1px solid #253341;
}

.post.classic .post_controls {
    background: #253341;
    clear: both;
    border-top: 2px solid #2e4052;
    padding: 5px;
    overflow: hidden;
}

.post .post_author {
    background: #2e4052;
}

.post_body {
    min-height: 150px;
}

a.usercp_nav_item {
    color: #aec0d0 !important;
}

.trow_stats_threads .smalltext,
.trow_stats_users .smalltext,
.trow_stats_newusers .smalltext,
.trow_stats_mostusers .smalltext {
    font-size: 12px;
}

.trow_sep {
    border-bottom: 0px solid #fff;
}

a.modcp_nav_item {
    color: #fff;
}

.modcp_nav_item::before {
    font-size: 15px;
}

fieldset.trow1, fieldset.trow2 {
    border-color: #253341;
	padding: 7px;
}

legend {
    margin-bottom: 0px;
    font-size: 17px;
    color: #fff;
    border-bottom: 0px solid #3399ff;
    background: #3399ff;
    text-align: center;
}

.post {
	background: #2e4052;
    border-left: 1px solid #202C38;
    border-right: 1px solid #202C38;
}

.post_body {
    background: #405972;
}

.footer {
    background: #2e4052;
}

#copyright {
    background: #202C38 !important;
}

.post .post_head {
    background: transparent;
    border-bottom: 1px solid #202C38;
}

blockquote {
    background: #80bfff;
    border-bottom: 1px solid #202C38;
}

.codeblock {
    border: 1px solid #202C38;
}

.breadcrumb .crust .arrow {
    border-left-color: #202C38 !important;
}

.post_content .signature {
    background: transparent;
    border-top: 1px solid #202C38;
    border-bottom: 0px solid #1c2631;
    color: #aec0d0;
}

.forum_status {
    height: 40px;
    width: 40px;
    background: url(../../../images/netpen/dark/forum_icon_sprite.png) no-repeat 0 0;
    display: inline-block;
}

.forum_on {
    background-position: 0 -40px;
}

.forum_off {
    background-position: 0 0px;
}

.forum_offlock {
    background-position: 0 -80px;
}

.forum_offlink {
    background-position: 0 -120px;
}

.forum_status_small {
    height: 30px;
    width: 30px;
    background: url(../../../images/netpen/dark/forum_icon_sprite_small.png) no-repeat 0 0;
    display: inline-block;
    padding-right: 5px;
}

.forum_off_small {
    background-position: 0 0px;
}

.forum_on_small {
    background-position: 0 -30px;
}

.forum_offlock_small {
    background-position: 0 -60px;
}

.forum_offlink_small {
    background-position: 0 -90px;
}

#logo-responsive {
    background: #58a1a1;
}

.navigation-responsive {
    background: #488484;
}

a.crumb {
    color: #fff !important;
}

.post .post_meta {
    border-top: 1px solid #202C38;
}

.post.classic .post_content {
    background: transparent;
}

.post.classic .post_author {
    background: #2e4052 !important;
}
		
		
		
		