/* NetPen Orange Base Color */

a {
	color: #ed5a5a;
}

a:hover {
	color: #ed5a5a;
}

.scrolltotop:hover {   
    border: 0px solid #ed5a5a;
    color: #ed5a5a;
}

.userunique a:hover {
	color: #ed5a5a;
}

a.modcp_nav_item {
    color: #ed5a5a;
}

#copyright a {
    color: #ed5a5a !important;
}

#copyright a:hover {
    color: #f07575 !important;
}

::-webkit-scrollbar-thumb {
    background: #ed5a5a;
}
::-webkit-scrollbar-thumb:hover {
    background: #ed5a5a;
}

.thead a:hover {
	color: #ed5a5a !important;
}

.tfoot a:hover {
	color: #ed5a5a !important;
}

.navigation a:hover {
	color: #ed5a5a !important;
}

span.smalltext a {
    color: #ed5a5a;
}

.popup_menu .popup_item:hover {
	background: #ed5a5a;
}

.reputation_positive {
    color: #ed5a5a;
}

.red_alert a,
.red_alert a:hover {
	color: #ed5a5a;
}

.pagination .pagination_current {
    background: #ed5a5a;
}

.pagination a:hover {
	background: #ed5a5a;
}

a.button {
    background: #ed5a5a;
}

#panel .upper a:before {
	color: #ed5a5a;
}
#panel .upper a:after {
	color: #ed5a5a;
}

.usercp_nav_item::before {
    color: #ed5a5a;
}

.modcp_nav_item:before {
	color: #ed5a5a;
}

li.home {
    background: #ed5a5a !important;
}

.usermenu a:hover {
    color: #ed5a5a !important;
}

#header {
    border-bottom: 2px solid #f07575;
}

.wrapper-head {
    border-top: 2px solid #ed5a5a;
}

.footer{
	border-top: 3px solid #f07575;
}

.thead {
    border-top: 3px solid #f07575;
}

.tcat {
    background: #f07575;
}

.trowstat:hover {
    color: #f07575;
}

button, input.button {
    background: #f07575;
}

.welcometitle {
    border-bottom: 3px solid #f07575 !important;
}

.welcomelogin {
    border-left: 3px solid #f07575 !important;
}

@media only screen and (max-width: 736px){

    a.crumb:hover {
      color: #f07575;
    }
    .navbar-nav{
      border-top: 2px solid #f07575 !important;
    }

    .welcomelogin {
       border-top: 2px solid #f07575 !important;
       border-left: 0px solid #f07575 !important;
    }	

    .select {
      border-bottom: 2px solid #f07575;
    }
}

@media screen and (max-width: 980px) and (min-width: 736px){
    .welcomelogin {
       border-top: 2px solid #f07575;
       border-left: 0px solid #f07575;
    }	

    .select {
      border-bottom: 2px solid #f07575;
    }
}
	
#panel-responsive {
    border-bottom: 3px solid #f07575;
}
	
#menu {
	border-top: 3px solid #f07575;
	border-bottom: 3px solid #f07575;
}

.nav > li > a:hover {
  color: #f07575;
}

.nav .open > a,
.nav .open > a:hover {
  border-color: #f07575;
  color: #f07575;
}

blockquote {
    background: #f7baba;
}

.post .post_head {
    background: #f4a4a4;
}

.post .post_meta {
    color: #777;
    background: #f4a4a4;
}

#logo {
    background: #ed5e5e;
}

.breadcrumb {
    background: #f07575 !important;
}

.forum_status {
    height: 40px;
    width: 40px;
    background: url(../../../images/netpen/orange/forum_icon_sprite.png) no-repeat 0 0;
    display: inline-block;
}

.forum_on {
    background-position: 0 -40px;
}

.forum_off {
    background-position: 0 0px;
}

.forum_offlock {
    background-position: 0 -80px;
}

.forum_offlink {
    background-position: 0 -120px;
}

.forum_status_small {
    height: 30px;
    width: 30px;
    background: url(../../../images/netpen/orange/forum_icon_sprite_small.png) no-repeat 0 0;
    display: inline-block;
    padding-right: 5px;
}

.forum_off_small {
    background-position: 0 0px;
}

.forum_on_small {
    background-position: 0 -30px;
}

.forum_offlock_small {
    background-position: 0 -60px;
}

.forum_offlink_small {
    background-position: 0 -90px;
}

#logo-responsive {
    background: #ed5a5a;
}

.navigation-responsive {
    background: #e83030;
}
		
		